<div class="col-sm-6 col-lg-4">
  <div class="card mb-4 shadow-sm">
    <img class="card-img-top" src=<%= post.banner_image_url %> alt="Card image cap">
    <div class="card-body">
      <%= link_to post_path(post) do %>
        <h5 class="card-title"><%= "#{post.title}" %></h5>
      <% end %>
      <div class="mb-1 text-muted"><%= post.display_day_published %></div>
      <% if author_signed_in? %>
        <div>
          <%= link_to "Edit", edit_post_path(post), class: "btn btn-primary" %>
          <%= link_to "Delete", post_path(post), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?" } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
