<div class="col-sm-6 col-lg-4 text-center">
  <div class="card border-0 mb-4">
    <%= link_to post_path(post) do %>
      <img class="card-img-top" src=<%= post.banner_image_url %> alt="Card image cap">
    <% end %>
    <div class="card-body bg-light">
      <h5 class="card-title"><%= "#{post.title}" %></h5>
      <% if author_signed_in? %>
        <div>
          <%= link_to "Edit", edit_post_path(post), class: "btn btn-primary" %>
          <%= link_to "Delete", post_path(post), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?" } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
