<%= provide(:page_title, 'Blog') %>
<% provide(:blog_active, 'active') %>

<header>
  <div id="carouselExampleSlidesOnly" class="carousel slide mt-5" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://images2.imgbox.com/2a/d9/qBVWCUVc_o.jpg" alt="First slide">
      </div>
    </div>
  </div>
</header>

<div class="container TC">
  <br>
  <div class="row">
    <%= render @posts %>
  </div>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <% if @page > @first_page %>
        <li class="page-item">
            <a class="page-link" href="<%= posts_path(page: (@page - 1)) %>" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
        </li>
      <% end %>
      <% (@first_page..@last_page).each do |page_number| %>
        <li class="page-item"><a class="page-link" href="<%= posts_path(page: page_number)%>"><%= page_number %></a></li>
      <% end %>
      <% if @page < @last_page %>
        <li class="page-item">
          <a class="page-link" href="<%= posts_path(page: (@page + 1)) %>" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      <% end %>
    </ul>
  </nav>
</div>
