<%= provide(:page_title, "編輯 #{@product.name}") %>
<% provide(:market_active, 'active') %>

<%= form_for @product, method: :put do |f|%>
  <div class="container TC mt-5">
    <br>
    <div class="row mb-3">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= yield(:page_title) %></h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="field">
                <%= f.label :name, "名稱" %>
                <%= f.text_field :name, class: 'form-control' %>
              </div>
            </li>
            <li class="list-group-item">
              <div class="field">
                <%= f.label :image_url, "圖片連結" %>
                <%= f.text_field :image_url, class: 'form-control' %>
              </div>
            </li>
            <li class="list-group-item">
              <div class="field">
                <%= f.label :price, "價格" %>
                <%= f.number_field :price, class: 'form-control' %>
              </div>
            </li>
            <li class="list-group-item">
              <div class="actions">
                <%= f.submit "更新產品", class: 'btn btn-success btn-block' %>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-8">
        <div class="field">
          <%= f.text_area :description %>
        </div>
      </div>
    </div>
  </div>
<% end %>
