<%= provide(:page_title, '牠牠賣場') %>
<% provide(:market_active, 'active') %>

<div class="container TC mt-5">
  <br>
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-sm-6 col-lg-4 text-center">
        <div class="card mb-4 shadow-sm">
          <img class="card-img-top" src=<%= product[:image_url] %> alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><%= "#{product.id}. #{product.name}" %></h5>
            <div class="mb-1 text-muted">NT$<%= product.price %></div>
            <% if author_signed_in? %>
              <div>
                <%= link_to "Edit", edit_product_path(product), class: "btn btn-primary" %>
                <%= link_to "Delete", product_path(product), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?" } %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <% if @page > @first_page %>
        <li class="page-item">
            <a class="page-link" href="<%= products_path(page: (@page - 1)) %>" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
        </li>
      <% end %>
      <% (@first_page..@last_page).each do |page_number|%>
        <li class="page-item"><a class="page-link" href="<%= products_path(page: page_number)%>"><%= page_number %></a></li>
      <% end %>
      <% if @page < @last_page %>
        <li class="page-item">
          <a class="page-link" href="<%= products_path(page: (@page + 1)) %>" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      <% end %>
    </ul>
  </nav>
</div>
