<%= provide(:page_title, '5% For The Animals') %>
<% provide(:market_active, 'active') %>

<div class="container mt-5">
  <img src="images/banner_1.png" width="100%">
  <% if false %>
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://images2.imgbox.com/24/d9/MjhIiUY7_o.jpg" alt="First slide">
      </div>
    </div>
  </div>
  <% end %>
</div>

<div class="container-fluid TC text-center bg-light">
  <div class="container">
    <div class="d-flex justify-content-center">
      <div class="col-sm-6 my-5">
        <h2><strong>5% For The Animals</strong></h2>
        <br>
        <p class="text-muted">我們會將飼料營收的百分之五回饋到生命教育課程上<br>希望透過教育來打造零棄養的未來</p>
      </div>
    </div>
  </div>
</div>

<div class="container TC">
  <br>
  <div class="d-flex justify-content-center">
    <%= render @products %>
  </div>
  <% if false %>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <% if @page > @first_page %>
        <li class="page-item">
            <a class="page-link" href="<%= products_path(page: (@page - 1)) %>" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
        </li>
      <% end %>
      <% (@first_page..@last_page).each do |page_number|%>
        <li class="page-item"><a class="page-link" href="<%= products_path(page: page_number)%>"><%= page_number %></a></li>
      <% end %>
      <% if @page < @last_page %>
        <li class="page-item">
          <a class="page-link" href="<%= products_path(page: (@page + 1)) %>" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      <% end %>
    </ul>
  </nav>
  <% end %>
</div>
