<%= provide(:page_title, @product.name) %>
<% provide(:market_active, 'active') %>

<div class="container TC mt-5">
  <br>
  <% if author_signed_in? %>
    <div class="row">
      <div class="col-md-10">
        <%= link_to 'Edit', edit_product_path(@product), class: 'btn btn-sm btn-warning' %>
        <%= link_to 'Remove', product_path(@product), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-sm btn-danger' %>
      </div>
    </div>
  <% end %>
  <div class="d-flex justify-content-center mb-5">
    <div class="col-md-10 col-lg-8">
      <h1 class="text-center"><%= @product.name %></h1>
      <% if false %>
      <p class="text-center text-muted">NT$<%= @product.price %></p>
      <% end %>
      <br>
      <%= @product.description.html_safe %>
      <button type="button" class="btn btn-success btn-block" onclick="window.open('https://cashier.ecpay.com.tw/product/Xv0b7kwBZj5gBKyWdq43')">前往賣場選購</button>
    </div>
  </div>
</div>
