<%= provide(:page_title, @product.name) %>
<% provide(:market_active, 'active') %>

<div class="container TC mt-5">
  <br>
  <% if author_signed_in? %>
    <div class="row">
      <div class="col-md-10">
        <%= link_to 'Edit', edit_product_path(@product), class: 'btn btn-sm btn-warning' %>
        <%= link_to 'Remove', product_path(@product), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-sm btn-danger' %>
      </div>
    </div>
  <% end %>
  <div class="row mb-5">
    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 text-center">
      <h1><%= @product.name %></h1>
      <% if false %>
      <p>NT$<%= @product.price %></p>
      <% end %>
      <a href="https://cashier.ecpay.com.tw/store/tatafortaiwan" class="btn btn-success btn-block">購買</a>
      <br>
      <%= @product.description.html_safe %>
    </div>
  </div>
</div>
