<div class="container-fluid TC">
<nav class="navbar navbar-expand-md bg-light navbar-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="https://images2.imgbox.com/ae/c4/kcX9W0lA_o.jpg" class="rounded" width="30" height="30" class="d-inline-block align-top"><strong class='TC'>牠牠</strong><span class='text-muted'>TATA</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse TC" id="collapsibleNavbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to 'Home', root_path, class: "nav-link #{yield(:home_active)}" %>
        </li>
        <li class="nav-item">
          <%= link_to 'About Us', about_path, class: "nav-link #{yield(:about_active)}" %>
        </li>
        <li class="nav-item">
          <%= link_to '5% For The Animals', products_path, class: "nav-link #{yield(:market_active)}" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Blog', posts_path, class: "nav-link #{yield(:blog_active)}" %>
        </li>
        <% if author_signed_in? %>
          <li class="nav-item">
            <%= link_to '新增文章', new_post_path, class: "nav-link #{yield(:add_post_active)}" %>
          </li>
          <li class="nav-item">
            <%= link_to '新增產品', new_product_path, class: "nav-link #{yield(:add_product_active)}" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Logout', destroy_author_session_path, method: :delete, class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Login', author_session_path, class: "nav-link #{yield(:login_active)}" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
</div>