<!DOCTYPE html>
<html>
  <head>
    <title>牠牠 - 「浪，我幫你說」體驗式生命教育</title>
    <link rel="icon" href="images/favicon-tata.ico" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render partial: 'layouts/nav' %>
    <%= yield %>
    <%= render partial: 'layouts/footer' %>
  </body>
</html>
