<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:page_title) %> - 牠牠 TATA</title>
    <link rel="icon" href="images/favicon-tata.ico" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
    <script>tinymce.init({
      height: '500',
      selector:'textarea',
      plugins: "codesample image media link code",
      toolbar: "undo redo | styleselect | bold italic link | codesample image media | code"
    });</script>
  </head>

  <body>
    <%= render partial: 'layouts/nav' %>
    <div class="container <%= controller_name %> <%= action_name %>"></div>
    <%= yield %>
    <%= render partial: 'layouts/footer' %>
  </body>
</html>
